body {
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff8e7;
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: background-color 0.3s ease;
}

.nav:hover {
  background-color: rgb(75, 31, 6);
  color: rgb(255, 255, 255);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;

}

.nav a {
  text-decoration: none;
  color: #5d3a00;
  font-weight: 1000;
  font-size: 15px;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.nav a:hover {
  background-color: rgb(139, 0, 47);
  border-radius: 5px;
}

.nav:hover a {
  color: #ffffff;
}

.logo {
  position: fixed;
  right: 2rem;
  top: 1rem;
  width: 80px;
  margin-top: 2.5rem;
}

.banner1 {
  width: 100%;
  height: 85vh;
  background-color: rgb(213, 214, 209);
  z-index: 0;
  position: relative;
}

.platano {
  position: absolute;
  rotate: 0deg;
  left: -100px;
  height: 110%;
  object-fit: contain;
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

.drips {
  position: absolute;
  top: 10%;
  right: 100px;
  height: 90%;
  object-fit: contain;
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

.banner2 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.banner2 img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  position: relative;
}

.selector-vertical {
  position: absolute;
  top: 140%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  max-height: 80vh;
  padding: 10px 0;
  width: 70px;
}

.selector-vertical img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.selector-vertical img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.selector-vertical .activo img {
  border: 2px solid #fff;
}

span{
  background-color: rgb(213, 214, 209);
}

h2 {
  margin-left: 30px;
  font-size: 2rem;
  margin-top: 8rem;
  color: rgb(139, 0, 47);
  text-align: center;
  font-size: 40px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
  justify-content: center;
}

.items img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.items img:hover {
  transform: scale(1.1);
}

svg{
  margin-bottom: -3.5vw;
}

.footer {
  background-color: #5d3a00;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  H2{
    color: white;
  }
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1VW;
}

.newsletter {
margin-right: 8vw;
}

.newsletter h2 {
  margin-top: 0vw;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}

.newsletter input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 16px;
  margin-bottom: 10px;
}

.newsletter button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-top: 10px;
}

.checkbox {
  margin-top: 10px;
  font-size: 12px;
}

.checkbox label a {
  text-decoration: underline;
    color: white;
}

.social {
  margin-top: 40px;
}

.social h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social a {
  margin-right: 10px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.column h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.column ul li a {
  text-decoration: none;
  color: white;
}

.column img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background-color:transparent;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-marquee 15s linear infinite;
  img{
    width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 120px; /* Espacio entre imágenes */
  }
}
 .abajo{
    background-color: #5d3a00;
  }
.marquee-track span {
  white-space: nowrap;
  padding-right: 0.5rem; 
  font-size: 1.2rem;
  font-weight: bold;
  color: #5d3a00; 
 
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

/* estilo del carrusel */

.carousel {
  height: 400px;
  margin: 40px auto;
  max-width: 1000px;
  margin-top: 0;
  margin-bottom: 40px;
  
}

.carousel .carousel-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.carousel .carousel-item img:hover {
  transform: scale(1.05);
}

h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: center;
}
